%head

  = stylesheet_link_tag "cubes/cubes.css"
  = stylesheet_link_tag "cubes/jquery-ui.min.css"
  = javascript_include_tag "jquery.js"
  = javascript_include_tag "cubes/jquery-ui.min.js"
  = javascript_include_tag "cubes/three.min.js"
  = javascript_include_tag "cubes/orbitcontrols.js"
  = javascript_include_tag "cubes/dragcontrols.js"
  = javascript_include_tag "cubes/transformcontrols.js"
  = javascript_include_tag "cubes/room.js"
%body.room-body